[flake8]
exclude =
    migrations,
    __pycache__,
    manage.py,
    settings.py,
    messages_respose.py
    init_data.py
    init_reset_data.py
    init_reset_data_test.py
    waiting_for_db.py
max-line-length = 120